@page
@model StudentiWeb.Pages.Note.IndexModel

@{
    ViewData["Title"] = "Mentenanta note";
}

<h1>Lista note</h1>

<p>
    <a asp-page="Create">Adauga nota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota[0].Valoare_nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota[0].Disciplina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Nota) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valoare_nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.NumeSiPrenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Nume)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Modifica</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
