@page
@model StudentiWeb.Pages.Studenti.DeleteModel

@{
    ViewData["Title"] = "Sterge student";
}

<div>
    <h4>Sterge student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.NrMatricol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.NrMatricol)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista</a>
    </form>
</div>
