@page
@model StudentiWeb.Pages.Studenti.IndexModel

@{
    ViewData["Title"] = "Mentenanta studenti";
}

<h1>Lista studenti</h1>

<p>
    <a asp-page="Create">Adauga student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].NrMatricol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrMatricol)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Modifica</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
